

{% extends "../layoutAdmin.njk" %}

{% block content %}

<div class="menu">
  <h2 class="title">Criando Chefe</h2>
  <div class="buttons">
    <button type="submit" form="create">Salvar Chefe</button>
  </div>
</div>

<form method="POST" id="create" action="/admin/chefs" enctype="multipart/form-data">

  {% include 'admin/chefs/fields.njk' %}

</form>


{% endblock content %}
