

{% extends "admin/parts/layoutAdmin.njk" %}

{% block content %}

<div class="menu">
  <h2 class="title">Atualizar Usuário</h2>
  <div class="buttons-edit-page">
    <button type="submit" form="delete" class="delete-button">Deletar</button>
    <button type="submit" form="update-user">Salvar</button>
  </div>
</div>

<form method="GET" id="update-user" action="/admin/users/usersList">

  {% include 'admin/users/fields.njk' %}

  <div class="inputs-users-create users-isAdmin-field ">

    {% if not user.is_admin %}
      <input type="radio" id="admin" name="is_admin">
      <label for="admin">Administrador</label>
    {% else %}
      <input type="radio" id="admin" name="is_admin" value="{{user.is_admin}}"
      {% if user.is_admin == 'true' %} checked {% endif %}>
      <label for="admin">Administrador</label>
    {% endif %}

  </div>

</form>


{% endblock content %}
