<div class="users-grid">
  <div class="users-fields">

    <div class="inputs-users-create">
        <label for="name">Nome</label>
        <div class="input">
          {# <input type="text" name="name" placeholder="Digite o nome do usuário" value="{{ user.name }}"> #}
           <input type="text" name="name" placeholder="Digite o nome do usuário" value="Manfrinne Ferreira">
        </div>
    </div>

    <div class="inputs-users-create">
        <label for="email">Email</label>
        <div class="input">
          <input
            type="email"
            name="email"
            placeholder="Digite seu email"
            {# value="{{ user.email }}" #}
            value="manfrinne@gmail.com"
            onblur="Validate.apply(this, 'isEmail')"
          >
        </div>
    </div>

  </div>

</div>




