

{% extends "admin/parts/layoutAdmin.njk" %}

{% block content %}

<div class="menu">
  {# <h2 class="title">Bem vindo {{user.name}}</h2> #}
  <h2 class="title">Bem vindo Manfrinne</h2>
  <div class="profile-user-buttons">
      <div class="buttons">
        <button type="submit" form="create">Salvar</button>
      </div>
  </div>
</div>

<form method="POST" id="create" action="/admin/users">

  {% include 'admin/users/fields.njk' %}

  <div class="inputs-users-create" id="profile-users-field">
      <label for="password">Nova Senha</label>
      <div class="input">
        <input
          type="password"
          name="password"
          placeholder="Digite sua nova senha"
        >
      </div>
  </div>

</form>


{% endblock content %}
