

{% extends "admin/parts/layoutAdmin.njk" %}

{% block content %}

<div class="menu usersManager">
  <h2 class="title">Usuários</h2>
  <div class="buttons">
    <a href="create">Novo</a>
  </div>
</div>

<section>
  <div class="users-manager-cards">

    {% for user in users %}

      <div class="user-card">
        <div class="user-manager-name">{{user.name}}</div>
        <div class="user-manager-email">{{user.email}}</div>
        <div class="user-manager-actions">
          <a class="button-edit" href="{{user.id}}/edit">Editar</a>
          <button type="submit" class="button-remove">Remove</button>{# preciso resolver problemas do id do usuário #}
        </div>

        <input type="hidden" name="id" value={{user.id}}>

      </div>

    {%else%}

      <h3 style="color: #777; font-size: 14px">Ainda não há usuzários cadastrados!</h3>

    {%endfor%}

  </div>
</section>


{% endblock content %}
