{% extends "./layout.njk" %}

{% block head %}
    <title>Foodfy {{recipe.title}} </title>
    <script src="/scripts/users_script.js" defer></script>
{% endblock %}

{% block header %}

  <div class="header">

    <div class="menu-links">
      <a href="/users/about">Sobre</a>
      <a href="/users/recipes"><strong>Receitas</strong></a>
      <a href="/users/chefs">Chefs</a>
    </div>

  </div>

{% endblock %}

{% block content %}

<section class="uniq_recipe">

  <div class="gallery">

    <div class="highlight">
      {% if not files[0] %}
        <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" alt=""/>
      {% else %}
        <img src="{{files[0].src}}" alt="{{files[0].name}}" onclick="LightBox.open()">
      {% endif %}

    </div>

    <div class="gallery-preview">
      {% for image in files %}
        <img src="{{image.src}}" alt="{{image.name}}"
        {% if loop.index0 == 0 %}
          class="active"
        {% endif %}
        onclick="ImageGallery.setImage(event)">
      {% endfor %}
    </div>

  </div>

  {# ##################################### #}

  <div class="uniq_recipe_infor">
      <h2 class="uniq_recipe_name">{{recipe.title}}</h5>
      <p class="uniq_cooker">por {{recipe.chef_name}}</p>
  </div>

  <div class="uniq_recipe_content">

    <div class="ingredientsList">
      <div class="topics" >
        <h3 class="uniq_topics">Ingredientes</h3>
        <h4>Esconder</h4>
      </div>
      <div class="uniq_topics_contents" class="ingredients">
        {%for ingredient in recipe.ingredients%}
          <li class="uniq_topics_content">{{ingredient}}</li>
        {%endfor%}
      </div>
    </div>

    <div class="preparationList">
      <div class="topics">
        <h3 class="uniq_topics">Modo de preparo</h3>
        <h4>Esconder</h4>
      </div>
      <div class="uniq_topics_contents">
        {%for preparation in recipe.preparation%}
          <li class="uniq_topics_content">{{preparation}}</li>
        {%endfor%}
      </div>
    </div>

    <div class="informationList">
      <div class="topics">
        <h3 class="uniq_topics">Informações adicionais</h3>
        <h4>Esconder</h4>
      </div>
      <div class="uniq_topics_contents">
        <div class="uniq_topics_content">
          {{recipe.information}}
        </div>
      </div>
    </div>

  </div>

</section>

{% endblock %}
