<!DOCTYPE html>
<html>
<head>

  {% include 'admin/parts/styles.njk' %}
  <link rel="icon" href="/assets/favicon.ico">
  <script src="/scripts/admin_script.js" defer></script>

  {% block head %}{% endblock head %}

  <title>FoodFy Images Upload</title>

</head>

<body>

  <header>
    <div class="header-content">
      <img src="/assets/logoAdmin.png" alt="Image Logo">
      <div class="menu-links">
        <a href="/admin/recipes">RECEITAS</a>
        <a href="/admin/chefs">CHEFES</a>
        <a href="/admin/users/usersList">USUÁRIOS</a>
      </div>
      <form action='admin/users/logout' method='POST'>
        <button>SAIR</button>
      </form>
    </div>
  </header>

  {% block content %}
  {% endblock content %}

</body>
</html>
