
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% include 'admin/parts/styles.njk' %}
  <title>Foodfy Login</title>
</head>
<body>

  <div class="header-users-login">
    <img src="/assets/logo.png" alt="Image Logo">
  </div>

  <div class="user-login-dashboard">

    {% block content %}{% endblock content %}

  </div>

</body>
</html>


