{% extends "layouts/public.njk" %}

{% block head %}
  <title>Foodfy recipes</title>
  <script src="/scripts/home_script.js" defer></script>
{% endblock %}

{% block header %}

  <div class="header">

    {% include 'components/header-links.njk' %}

    <form action="/public" method="GET">
      <input type="text" name="filter" placeholder="Buscar uma receita" value={{filter}}>
      <button type="submit">Buscar</button>
    </form>

  </div>

{% endblock %}

{% block content %}

  <section class="cards">

    {%for recipe in recipes%}

      <div class="card" id="{{recipe.title}}" number="{{recipe.id}}">
        <div class="card__image-container">

          {% for file in files %}
            {% if file.recipe_id == recipe.id %}
              <img src="{{file.src}}" alt="Image {{file.name}}">
            {% endif %}
          {% endfor %}

        </div>

        <div class="plate-name">
          <h5>{{recipe.title}}</h5>
        </div>
        <div class="cooker-name">
          <p>Por {{recipe.chef_name}}</p>
        </div>
      </div>

      {%else%}

      <h3 style="color: #777; font-size: 14px">Ainda não há receitas cadastradas!</h3>

      {%endfor%}

    </section>

  {% endblock %}
