<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/admin_styles.css">
    <link rel="icon" href="/assets/favicon.ico">
    <script src="/scripts/admin_script.js" defer></script>
    <title>FoodFy | Lost Connection</title>
  </head>
  <body>

    <div class="lostPage">

      <div class="imageFoodfy">
        <img src="/assets/chef.png">
      </div>

      <div class="cardLostPage">
        <h1>404...</h1>
        <h2>Página não encontrada!</h2>

        <h3>Orientação do administrador:</h3>

        <p>
      Voltar para os servidores do site Foodfy <br>
      A rota que você digitou não faz parte do nosso sistema.
    </p>

        <a href="/public">
          <button type="button">Retornar à Home</button>
        </a>
      </div>

    </div>

  </body>
</html>
